<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/EmployeeWeb.styles.css" asp-append-version="true" />
    -->
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<body>
    <header>
        <nav class="navegacion-nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="bi bi-list"></i>
            </label>
            <a class="navegacion-nav__a" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="navegacion-nav__a-img" src="./img/logo.png" alt="logo">
            </a>
            <ul class="navegacion-nav__ul">
                <li class="navegacion-nav__ul-li  ">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    
                </li>
                <li class="navegacion-nav__ul-li">
                    <a  asp-area="" asp-controller="Home" asp-action="CreateEmployee">Create</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="contenedor">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2023 - EmployeeWeb - <a href="https://github.com/ibarguen-dev" target="_blank">Juan Esreban Torres Ibarguen</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/form.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
